@import url(reset.css);

/*CONTENEDOR*/
.tateti {
  width: 100vw;
  height: 50vh;
}

/*ELECCION NOMBRE JUGADORES*/

.tatetiSectionJugadores {
	width: 50vw;
	height: 50vh;
	margin: 2em auto 0em auto;
}

.tatetiSectionJugadores .tatetiForm {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: auto 30% 30% auto;
  grid-template-areas: ". mensaje mensaje ."/*Primera Fila - los puntos porque en auto no va nada*/
                        ". labelX inputX ."/*Segunda Fila*/
                        ". labelO inputO ."/*Tercera Fila*/
                        ". siguiente siguiente ."/*Cuarta Fila*/
}
  
.tatetiSectionJugadores .tatetiForm .tatetiMensajeInicio {
  grid-area: mensaje;
  color: red;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormLabel1 {
  grid-area: labelX;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormLabel2 {
  grid-area: labelO;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormInput1 {
  grid-area: inputX;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormInput2 {
  grid-area: inputO;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormBoton {
  grid-area: siguiente;
  padding: 1em;
  background: black;
  color: blanchedalmond;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
  border: 3px solid #2c3e50;
  border-radius: 2px;
  text-align: center;
}

.tatetiSectionJugadores .tatetiForm .tatetiFormBoton:hover {
  color: gold;
}

/*JUEGO TATETI*/
.tateti {
	width: 50vw;
	height: 70vh;
  margin: 2em auto 0em auto;
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: auto 50% 10% 30% auto;
  grid-template-areas:  ". tateti . tabla ."
                        ". tateti . . ."
                        ". tateti . mensaje ."
                        ". . . . ."
                        ". restart . . .";
}

.tatetiSectionJuego {
  grid-area: tateti;
	width: 25vw;
	height: 25vw;
	margin: 1em auto;
	
	display: grid;
}

.dimension3 {
  grid-template: repeat(3, 33.333%) / repeat(3, 33.333%);
}

.dimension4 {
  grid-template: repeat(4, 25%) / repeat(4, 25%);
}

.dimension5 {
  grid-template: repeat(5, 20%) / repeat(5, 20%);
}

.dimension6 {
  grid-template: repeat(6, 16.5333%) / repeat(6, 16.5333%);
}

.tatetiSectionJuego .cuadrado{
  border: 3px solid gray;
}

.tatetiSectionJuego div.cuadrado img {
  width: 100%;
  height: 100%;
}

.tatetiTabla, th, td {
  border: 3px solid gray;
  border-collapse: collapse;
  padding: 1em;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
}

.tatetiTabla {
  grid-area: tabla;
}

/*JUEGO MENSAJE y RESTART*/

.tateti .tatetiMensajeFin {
  grid-area: mensaje;
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 1em;
}

.tateti .tatetiRestart {
  grid-area: restart;
  background: black;
  color: blanchedalmond;
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  border: 3px solid #2c3e50;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  margin: 1em;
}

.tateti .tatetiRestart:hover {
  color: gold;
}

/*CONFIGURACION*/

.disabled{
  display : none;
}

.tatetiSectionConf {
  width: 20vw;
  height: 20vh;
  margin: 1em 1em;
}

.tatetiSectionConf .lista-opciones{
  height: 100%;
}

.tatetiSectionConf .lista-opciones .opcion {
  margin-bottom: 5%;
  height: 25%;
  border-radius: 5px;
  border:  solid 1px;
  background-color: #ABF981;
  text-align: center;
  vertical-align: middle;
}

.tatetiSectionConf .lista-opciones .opcion:hover {
  background-color: #F9DB81;
}
