@import url(reset.css);

.tateti {
  width: 100vw;
  background-color: darkgray
}

.tatetiMensaje {
  color: black
}

.memoTestPAW .tarjeta {
  width: 40vw;
  height: 40vh;
  margin: 3vh 3vw;
  display: inline-block;
  background-color: green;
  text-align: center;
  vertical-align: middle;
}

.memoTestPAW .tarjeta img {
  width: 35vw;
  height: 35vh;
  vertical-align: middle;
}

.memoTestPAW .tarjeta.bocaAbajo img {
  display: none;
}

.memoTestPAW .tarjeta.bocaArriba {
  background-color: azure;
}

.memoTestPAW .tarjeta.bocaArriba.marcada {
  background-color: gray;
}
