@import url(reset.css);

.juego-buscaminas {
  width: 100%;
  height: 100%;
}
.disabled{
  display : none;
}

.juego-buscaminas .lista-opciones {
  width: 20vw;
  height: 20vh;
}
.juego-buscaminas .lista-opciones .opcion {
  width: 20vw;
  height: 20%;
  border-radius: 5px;
  border:  solid 1px;
  background-color: #ABF981;
  text-align: center;
  vertical-align: middle;
}

.juego-buscaminas .cuadrado {
  display: inline-block;
  border: solid 1px;
  height: 10vh;
  width: 10vw;
}
.juego-buscaminas .lista-opciones .opcion:hover {
  background-color: #F9DB81;
}
